<!--navigation-->
<div class="navigation">
    <div class="menu-toggle"></div>
    <ul>
        <li class="list active" style="--color:#f44336;">
            <a href="#index.html">
                <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                <span class="text">home</span>

            </a>
        </li>
        <li class="list" style="--color:#b90f86;">
            <a href="#">
                <span class="icon">
                        <ion-icon name="person-add-outline"></ion-icon>                    </span>
                <span class="text">conact</span>

            </a>
        </li>
        <li class="list" style="--color:#67be1f;">
            <a href="#"> <span class="icon ">
                    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                </span>
                <span class="text ">chatting</span>
            </a>
        </li>
        <li class="list" style="--color:#d7d894;">
            <a href="# "> <span class="icon ">
                    <ion-icon name="settings-outline"></ion-icon>                </span>
                <span class="text ">setting</span>
            </a>
        </li>
        <div class="indicator"></div>
    </ul>
    <p>Made with love
        <ion-icon name="heart-outline" style="color: red;"></ion-icon>
        2022//Thorya
    </p>
</div>